<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KHÔI PHỤC MẬT KHẨU</title>
  <link rel="stylesheet" type="text/css" href="../public/css/signUp.css">

  <style>
    .errors {
      color: rgb(216, 27, 27);
      text-align: center;
      font-size: 18px;
    }
  </style>

</head>

<body>
  <div class="form-gap"></div>
  <div class="container" id="wrap">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="/forgotPassword/confirm" method="post" accept-charset="utf-8" class="form" role="form">
          <img src="/public/image/iconForgot.png" class="centerReset">

          <h3 style="font-size: 27px !important;">KHÔI PHỤC MẬT KHẨU</h3>

          <div class="errors">
            <label>
              <% if ( typeof invalidMail !=='undefined' ) { %>
                <%= invalidMail %>
                  <% } %>
                    <% if ( typeof invalidCode !=='undefined' ) { %>
                      <%= invalidCode %>
                        <% } %>
                          <% if ( typeof invalidPassword !=='undefined' ) { %>
                            <%= invalidPassword %>
            </label>
            <% } %>
          </div>
          <br>
          <input type="email" name="user_Email" class="form-control input-lg" value="<%= user_Email %>"
            placeholder="Nhập tên tài khoản" required />

          <input type="text" name="user_Code" class="form-control input-lg" placeholder="Nhập mã xác thực" required />

          <input type="password" name="user_Password" id="user_Password" value="" class="form-control input-lg"
            placeholder="Mật khẩu mới" required />

          <input type="password" name="user_ConfirmPassword" id="user_ConfirmPassword" value=""
            class="form-control input-lg" placeholder="Nhập lại mật khẩu" required />

          <br />
          <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
            Xác nhận</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</body>

</html>