<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" type="text/css" href="/public/css/forgotPassword.css">
</head>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <div class="">
                    <div class="logo logo--medium">
                        <a href="/ " class="router-link-active"><img src="/public/image/Logo-Dien-03.png " alt="Một Chút Phim Accounts " class="logo-image" style="width: 200px" /></a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 class="text-center">Forgot Your Password</h2>
                            <p style="text-align: left;">You forgot your password? Don't worry! Give us the email which is used to register your Một Chút Phim account. We'll mail you a link to reset your password.</p>

                            <div>
                                <% if ( typeof notFoundError !=='undefined' ) { %>
                                    <div style="color:rgb(221, 32, 32)">
                                        <label>
                      <%= notFoundError %>
                    </label>
                                    </div>
                                    <% } if ( typeof activateError !=='undefined' ) { %>
                                        <div style="color:rgb(221, 32, 32)">
                                            <label>
                        <%= activateError %>
                          <br>
                          <a href="/signup/confirm">
                            Bấm vào đây để kích hoạt
                          </a>

                      </label>
                                        </div>

                                        <% } %>
                            </div>

                            <div class="panel-body">

                                <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                                    <div class="form-group">
                                        <div class="input-group" style="text-align: left;">
                                            <label for="email" class="el-form-item__label" style="text-align: left;"><i style="color: red; font-size: 17px;">* &nbsp;</i>You email address</label>
                                            <input id="email" name="email" placeholder="email" class="form-control radius" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Send me email" type="submit">
                                    </div>

                                    <input type="hidden" class="hide" name="token" id="token" value="">

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>