<div class="footer-cgv-container">
    <div class="footer">
        <div class="footer-brand-slide">
            <div class="sect-smuse">
                <ul>
                    <li><a class="dx" href="/">4DX</a>
                    </li>
                    <li><a class="imax" href="/">Imax</a></li>
                    <li><a class="starium" href="/">Starium</a></li>
                    <li><a class="gold-class" href="/">Goldclass</a></li>
                    <li><a class="lamour" href="/">L'amour</a></li>
                    <li><a class="sweet" href="/">Sweetbox</a></li>
                    <li><a class="dolby-atmos" href="/">Dolby Atmos</a>
                    </li>
                    <li><a class="premium-cinema" href="/">Premium Cinema</a>
                    </li>
                    <li><a class="screenx" href="/">Screenx</a></li>
                    <li><a class="cine-foret" href="/">Cine &amp;
                            Foret</a></li>

                </ul>
            </div>
        </div>
        <div class="footer-cgv-policy">
            <div class="content-cgv-policy">
                <div class="cgv-vietnam">
                    <h3>MỘT CHÚT PHIM</h3>
                    <ul>
                        <li><a href="/">Giới Thiệu</a>
                        </li>
                        <li><a href="/">Tiện Ích
                                Online</a></li>
                        <li><a href="/">Thẻ Quà Tặng</a>
                        </li>
                        <li><a href="/">Tuyển Dụng</a>
                        </li>
                        <li><a href="/">Liên Hệ Quảng
                                Cáo Một Chút Film</a>
                        </li>
                    </ul>
                </div>
                <div class="cgv-policy">
                    <h3>Điều khoản sử dụng</h3>
                    <ul>
                        <li><a href="/">Điều Khoản
                                Chung</a></li>
                        <li><a href="/">Điều Khoản Giao
                                Dịch</a></li>
                        <li><a href="/">Chính Sách Thanh
                                Toán</a></li>
                        <li><a href="/">Chính Sách Bảo
                                Mật</a></li>
                        <li><a href="/">Câu Hỏi Thường
                                Gặp</a></li>
                    </ul>
                </div>
                <div class="cgv-follow-us">
                    <h3>Kết nối với chúng tôi</h3>
                    <ul>
                        <li>
                            <a class="follow-fb" href="https://www.facebook.com/cgvcinemavietnam" target="_blank"></a>
                        </li>
                        <li>
                            <a class="follow-yt" href="https://www.youtube.com/cgvvietnam" target="_blank"></a>
                        </li>
                        <li>
                            <a class="follow-instagram" href="http://instagram.com/cgvcinemasvietnam"
                                target="_blank"></a>
                        </li>
                        <li>
                            <a class="follow-zalo" href="http://zalo.me/1884424922722396289" target="_blank"></a>
                        </li>
                    </ul>
                    <div class="cgv-permision">
                        <h2><a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=30278"
                                target="_blank">cgv</a>
                        </h2>
                    </div>
                </div>
                <div class="customer-cgv">
                    <h3>Chăm sóc khách hàng</h3>
                    <p style="line-height: 22px;">
                        Hotline: 1900 6017<br>Giờ làm
                        việc: 8:00 - 22:00 (Tất cả các
                        ngày bao gồm cả Lễ Tết)<br>Email
                        hỗ trợ: <a href="mailto:hoidap@cgv.vn">hoidap@motchutfilm.vn</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>