<div class="home-movie-selection">
    <div class="home-title">
        <h2></h2>
    </div>

    <div class="slideshow-containe-movier feature_slide_show_480_767">
        <ul class="feature_slide_show" style="position: relative; overflow: hidden;">
            <div class="cycle-carousel-wrap"
                style="margin: 0px; padding: 0px; top: 0px; left: 0px; position: absolute; white-space: nowrap;">
                <li class="poster-film film-lists item cycle-slide active"
                    style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: inline-block; visibility: visible;">
                    <span class="events events-49k"></span> <img class="product-img"
                        src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/b/t/btdq_main_poster_1.jpg"
                        alt="BÀN TAY DIỆT QUỶ">
                    <input type="hidden" value="movie-trailer-3543">
                    <div class="feature_film_content">
                        <h3>BÀN TAY DIỆT QUỶ</h3>
                        <a title="Xem chi tiết" class="button" href="/phim/3">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking"
                            onclick="Quickbooking('21004400');"><span><span>Mua vé</span></span></button>
                    </div>
                    <div class="play-button">
                        <div style="display:none">
                            <span
                                class="movie-trailer">https://www.youtube.com/embed/OuIxS_LlnQs?rel=0&amp;showinfo=0&amp;autoplay=1</span>
                        </div>
                    </div>
                </li>
                <li class="poster-film film-lists item cycle-slide"
                    style="position: static; top: 0px; left: 0px; z-index: 99; display: inline-block;">

                    <span class="events events-49k"></span>
                    <img class="product-img"
                        src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/g/o/godzilla_vs_1__1.jpg"
                        alt="GODZILLA VS. KONG">
                    <input type="hidden" value="movie-trailer-3478">
                    <div class="feature_film_content">
                        <h3>GODZILLA VS. KONG</h3>
                        <a title="Xem chi tiết" class="button" href="/phim/23">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking"
                            onclick="Quickbooking('21003100');"><span><span>Mua vé</span></span></button>
                    </div>
                    <div class="play-button">

                        <div style="display:none">
                            <span
                                class="movie-trailer">https://www.youtube.com/embed/yFpuUGFS1Kg?rel=0&amp;showinfo=0&amp;autoplay=1</span>
                        </div>
                    </div>
                </li>
                <li class="poster-film film-lists item cycle-slide"
                    style="position: static; top: 0px; left: 0px; z-index: 97; display: inline-block;">

                    <span class="events events-49k"></span> <img class="product-img"
                        src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/m/o/mortal_kombat_-_vn_-_payoff_poster_1_1__1.jpg"
                        alt="MORTAL KOMBAT: CUỘC CHIẾN SINH TỬ">
                    <input type="hidden" value="movie-trailer-3523">
                    <div class="feature_film_content">
                        <h3>MORTAL KOMBAT:</h3>
                        <a title="Xem chi tiết" class="button" href="/phim/4">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking"
                            onclick="Quickbooking('21004200');"><span><span>Mua vé</span></span></button>
                    </div>
                    <div class="play-button">

                        <div style="display:none">
                            <span
                                class="movie-trailer">https://www.youtube.com/embed/Eu9G8nO5-Ug?rel=0&amp;showinfo=0&amp;autoplay=1</span>
                        </div>
                    </div>
                </li>
                <li class="poster-film film-lists item cycle-slide"
                    style="position: static; top: 0px; left: 0px; z-index: 96; display: inline-block;">

                    <span class="events events-49k"></span> <img class="product-img"
                        src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/m/a/main_poster_seobok_15_1.jpg"
                        alt="NGƯỜI NHÂN BẢN">
                    <input type="hidden" value="movie-trailer-3203">
                    <div class="feature_film_content">
                        <h3>NGƯỜI NHÂN BẢN</h3>
                        <a title="Xem chi tiết" class="button" href="/phim/24">Xem chi tiết</a>
                        <button type="button" title="Mua vé" class="button btn-booking"
                            onclick="Quickbooking('21004600');"><span><span>Mua vé</span></span></button>
                    </div>
                    <div class="play-button">

                        <div style="display:none">
                            <span
                                class="movie-trailer">https://www.youtube.com/embed/u7KeKpV3FQA?rel=0&amp;showinfo=0&amp;autoplay=1</span>
                        </div>
                    </div>
                </li>
        </ul>

    </div>
</div>

<div class="product-collateral toggle-content tabs home-event">
    <div class="home-title">
        <h2></h2>
    </div>
    <dl id="collateral-tabs" class="collateral-tabs">
        <dd class="tab-container last">
            <div class="tab-content">
                <div class="home-show-event">
                    <ul class="slide_home_event thnhvincgv" style="position: relative; overflow: hidden;">
                        <div class="cycle-carousel-wrap"
                            style="margin: 0px; padding: 0px; top: 0px; left: 0px; position: absolute; white-space: nowrap;">
                            <li class="cycle-slide active"
                                style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: inline-block; visibility: visible;">
                                <a href="https://www.cgv.vn/default/newsoffer/u22-vn/">
                                    <img
                                        src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/u/2/u22_240x201.jpg">
                                </a>
                            </li>
                            <li class="cycle-slide"
                                style="position: static; top: 0px; left: 0px; z-index: 99; display: inline-block;">
                                <a href="https://www.cgv.vn/default/newsoffer/happy-wednesday/">
                                    <img
                                        src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/h/a/happywednesday240x201_1.jpg">
                                </a>
                            </li>
                            <li class="cycle-slide"
                                style="position: static; top: 0px; left: 0px; z-index: 97; display: inline-block;">
                                <a href="https://www.cgv.vn/default/newsoffer/cgv-culture-day/">
                                    <img
                                        src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/u/culture-240_1.jpg">
                                </a>
                            </li>
                            <li class="cycle-slide"
                                style="position: static; top: 0px; left: 0px; z-index: 96; display: inline-block;">
                                <a href="https://www.cgv.vn/default/newsoffer/them-3-thang-len-vip-vvip/">
                                    <img
                                        src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv-crm-team-chi-1-duoc-2-240x201.jpg">
                                </a>
                            </li>
                        </div>





                    </ul>
                </div>
            </div>
        </dd>


        <script type="text/javascript">
            $j(window).bind("load", function () {
                var width = $j(window).width();
                if (width >= 979) {
                    reinitCycle2(4);
                } else if (width >= 770) {
                    reinitCycle2(3);
                } else if (width >= 479) {
                    reinitCycle2(2);
                } else {
                    reinitCycle2(1);
                }
            });

            $j(window).on('resize', function () {
                var width = $j(window).width();
                if (width >= 979) {
                    reinitCycle2(4);
                } else if (width >= 770) {
                    reinitCycle2(3);
                } else if (width >= 479) {
                    reinitCycle2(2);
                } else {
                    reinitCycle2(1);
                }
            });

            function reinitCycle2(visibleSlides) {
                try {
                    $j('.tinmiui').cycle('destroy');
                    $j('.tinmiui').cycle({
                        "carouselSlideDimension": "240px",
                        "carouselVisible": visibleSlides,
                        "fx": "carousel",
                        "timeout": 0,
                        "next": ".tinmiui_next",
                        "prev": ".tinmiui_prev",
                        "slideActiveClass": "active",
                        "slides": "li",
                        "allowWrap": false,
                    });
                    $j('.thnhvincgv').cycle('destroy');
                    $j('.thnhvincgv').cycle({
                        "carouselSlideDimension": "240px",
                        "carouselVisible": visibleSlides,
                        "fx": "carousel",
                        "timeout": 0,
                        "next": ".thnhvincgv_next",
                        "prev": ".thnhvincgv_prev",
                        "slideActiveClass": "active",
                        "slides": "li",
                        "allowWrap": false,
                    });
                } catch (err) {
                    console.log(err.message);
                }
            }
        </script>
    </dl>
</div>