<% if(film.nowShowingFilms){var nowShowingFilms=film.nowShowingFilms %>
    <% for (var i=0; i < nowShowingFilms.length; i++ ) { %>
        <div class="col-md-3 col-sm-3 movie-item">
            <div class="article-movie-home">
                <a href="/phim/<%= nowShowingFilms[i].film_ID %>">
                    <img id="img-film-indexContent" src="<%= nowShowingFilms[i].film_Image %>" alt="Không load được ảnh"
                        width="216" height="324">
                </a>
            </div>

            <a href="/phim/<%= nowShowingFilms[i].film_ID %>">
                <div class="title-movie">
                    <h4>
                        <%= nowShowingFilms[i].film_Name %>
                    </h4>
                </div>
            </a>
        </div>
        <% }%>
            <% }else{ %>
                <h1>Do dịch Covid-19, chưa có phim nào được công chiếu !!</h1>
                <% } %>