<div class="main">
    <div class="col-main">
        <div class="std">
            <div class="page-gift-card">
                <div class="banner-gift-card">
                    <h2><img alt="" src="https://www.cgv.vn/media/wysiwyg/giftcard/gift-card-1.png" "=" "></h2>
</div>
<div class="about-gift-card ">
<div class="title-gift-card ">
<h1>Thẻ quà tặng</h1>
</div>
<div class="content-about-gift-card ">
<div class="row-1-about-gift-card ">
<p>Một Chút Phim hân hạnh phát hành Thẻ Quà Tặng - Phương tiện thanh toán hiện đại và thuận tiện. Đây là một món quà điện ảnh tuyệt vời mà bạn có thể chia sẻ và gửi tặng bạn bè, gia đình, đồng nghiệp và đối tác. Chắc chắn đây sẽ là món quà ngập tràn sắc màu điện ảnh thật ý nghĩa và tuyệt vời dành cho những người bạn yêu quý.</p>
<p><strong>Thẻ Quà Tặng Một Chút Phim </strong> là loại thẻ trả trước. Với số tiền trong thẻ, bạn có thể sử dụng Thẻ để đổi vé xem phim hoặc bất kì sản phẩm nào tại quầy Bắp Nước của <strong>Một Chút Phim </strong>.Với vẻ ngoài sang trọng và sự tiện lợi, bạn có thể lựa chọn các mệnh giá cho Thẻ Quà Tặng như 300.000đ; 500.000đ; hoặc 1.000.000đ. Thẻ có thời hạn sử dụng trong 1 năm và đặc biệt bạn có thể nạp thêm tiền để gia hạn bất cứ lúc nào. Bạn có thể mua thẻ thật dễ dàng mà không cần đăng ký thông tin chủ thẻ.</p>
</div>
<div class="row-2-about-gift-card ">
<h2><img alt=" " src="https://www.cgv.vn/media/wysiwyg/giftcard/gift-card-2.png " "=""></h2>
                    <ul>
                        <li><strong>Thẻ Quà Tặng Một Chút Phim </strong> là loại thẻ trả trước. Với số tiền trong thẻ, bạn có thể sử dụng Thẻ để đổi vé xem phim hoặc bất kì sản phẩm nào tại quầy Bắp Nước của <strong>Một Chút Phim </strong>.</li>
                        <li>Với vẻ ngoài sang trọng và sự tiện lợi, bạn có thể lựa chọn các mệnh giá cho Thẻ Quà Tặng như 300.000đ; 500.000đ; hoặc 1.000.000đ. Thẻ có thời hạn sử dụng trong 1 năm và đặc biệt bạn có thể nạp thêm tiền để gia hạn bất cứ lúc nào.&nbsp;Bạn
                            có thể mua thẻ thật dễ dàng mà không cần đăng ký thông tin chủ thẻ.</li>
                        <li>Thẻ quà tặng đang được bán tại quầy vé các rạp <strong>Một Chút Phim  </strong>trên toàn quốc, hoặc bạn có thể mua thẻ quà tặng điện tử tại <a href="https://www.cgv.vn/default/online-store/gift-card.html" target="_blank">đây</a>.
                            Thẻ quà tặng có thể được tích hợp vào tài khoản thành viên, và thanh toán tiện lợi bằng thẻ thành viên khi không mang theo thẻ quà tặng.</li>
                        <li>Hiện có loại thẻ quà tặng cho công ty / tổ chức khi bạn mua vé với số lượng lớn. Đặc biệt bạn có thể đưa logo và thông điệp của công ty / tổ chức vào thẻ. Gọi bộ phận Bán Vé Nhóm (Group Sales) để biết thêm thông tin: <strong> +84-8-3822-0333 </strong></li>
                        <li>Các câu hỏi thường gặp, vui lòng <a href="https://www.cgv.vn/default/faq/#tabs-4" target="_blank">xem ở đây</a>.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="term-and-condition">
            <div class="term-gift-card">
                <h2>Điều kiện áp dụng</h2>
            </div>
            <div class="content-term-con-gift-term">
                <h2>
                    <img alt="" src="https://www.cgv.vn/media/wysiwyg/giftcard/gift-card-3.png" "=" "></h2>
<ul>
<li>
<p>Thẻ này dùng để đổi vé xem phim hoặc thức ăn, đồ uống tại tất cả các rạp Một Chút Phim,&nbsp;áp dụng tại quầy &amp; trực tuyến.</p>
</li>
<li>
<p>Thẻ có thẻ được nạp thêm tiền và gia hạn tại quầy hoặc trực tuyến bất cứ lúc nào với số tiền tối thiểu 300,000đ.</p>
</li>
<li>Riêng với thẻ quà tặng được đăng ký trực tuyến, ngày hết hạn của tất cả thẻ trước đó sẽ được gia hạn theo ngày hết hạn của thẻ mới nhất.</li>
<li>
<p>Thẻ có giá trị tích lũy điểm và tổng chi tiêu cho người sử dụng, không có giá trị tích lũy điểm và tổng chi tiêu cho người mua.</p>
</li>
<li>
<p>Thẻ không được dùng để đổi sang tiền mặt hoặc mua thẻ khác.</p>
</li>
<li>
<p>Nếu thẻ bị mất hoặc hư hại, giá trị sử dụng sẽ không còn hiệu lực hay cấp lại nếu không có bằng chứng xác thực hợp lệ nào.</p>
</li>
</ul>
</div>
</div>
</div></div>                </div>
</div>