<% const filmViewHigh = film.filmViewHigh %> 
<% var j = 0; %>

<% for (var i = 0; i < filmViewHigh.length; i++ ) { %>
    <% if (j <= 7) { %>
        <div class="col-md-3 col-sm-3 movie-item">
            <div class="article-movie-home">
                <a href="/phim/<%= filmViewHigh[i].dataValues.film_ID %>">
                    <img id="img-film-indexContent" src="<%= filmViewHigh[i].dataValues.film_Image %>" alt="Không load được ảnh"
                        width="216" height="324">
                </a>
            </div>
        
            <a href="/phim/<%= filmViewHigh[i].dataValues.film_ID %>">
                <div class="title-movie">
                    <h4><%= filmViewHigh[i].dataValues.film_Name %></h4>
                </div>
            </a>
        </div>
    <% } %>
    <% j++; %>
<% } %>
