<div class="row">
  <div class="col-md-6 col-sm-6 marginmap">
    <h3 class="marginMap">Map</h3>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe width="558" height="450" id="gmap_canvas"
          src="https://maps.google.com/maps?q=cgv%20landmark%2081&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
          scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-6">
    <h3>Phản hồi</h3>
    <form>
      <div class="form-group">
        <label>Tên</label>
        <input type="text" class="form-control radius" id="name" aria-describedby="emailHelp" placeholder="Tên"> </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control radius" id="email" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <label>Điện thoại</label>
        <input type="text" class="form-control radius" id="numberPhone" aria-describedby="emailHelp"
          placeholder="Số điện thoại">
      </div>
      <div class="form-group">
        <label>Nội dung cần phản ánh</label>
        <textarea class="form-control radius" id="content" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-primary radius">Gửi</button>
    </form>
  </div>
</div>