<!DOCTYPE html>
<html>

<head>
    <title>404 not found</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet" />
    <style>
        body#kt_body {
            background: #364150;
            color: white;
            font-family: "Poppins", sans-serif;
        }
        
        .d-flex.flex-column.flex-root {
            text-align: center;
        }
        
        h1.fw-bolder.fs-4x.text-gray-700.mb-10 {
            font-size: 50px;
        }
        
        .fw-bold.fs-3.text-gray-400.mb-15 {
            margin-bottom: 3.75rem;
        }
        
        img.logo-image {
            padding-top: 5rem!important;
        }
        
        a.btn.btn-lg.btn-primary.fw-bolder {
            color: white;
            border: 1px solid;
            text-decoration: none;
            padding: 10px;
            border-radius: 10px;
            font-weight: 600;
            background-color: #e7505a;
            border-color: #e7505a;
        }
    </style>
</head>

<body>

    <body id="kt_body" class="bg-white">
        <!--begin::Main-->
        <div class="d-flex flex-column flex-root">
            <!--begin::Authentication - Error 404 -->
            <div class="
            d-flex
            flex-column flex-column-fluid
            bgi-position-y-bottom
            position-x-center
            bgi-no-repeat bgi-size-contain bgi-attachment-fixed
          ">
                <!--begin::Content-->
                <div class="
              d-flex
              flex-column flex-column-fluid
              text-center
              p-10
              py-lg-20
            ">
                    <!--begin::Logo-->

                    <a href="/ " class="router-link-active"><img src="/public/image/Logo-Dien-03.png " alt="Một Chút Phim Accounts " class="logo-image" style="width: 200px" /></a>

                    <!--end::Logo-->
                    <!--begin::Wrapper-->
                    <div class="pt-lg-10">
                        <!--begin::Logo-->
                        <h1 class="fw-bolder fs-4x text-gray-700 mb-10">
                            Page Not Found
                        </h1>
                        <!--end::Logo-->
                        <!--begin::Message-->
                        <div class="fw-bold fs-3 text-gray-400 mb-15">
                            The page you looked not found! <br />Plan your blog post by choosing a topic
                        </div>
                        <!--end::Message-->
                        <!--begin::Action-->
                        <div class="text-center">
                            <a href="/" class="btn btn-lg btn-primary fw-bolder">Go to homepage</a
                >
              </div>
              <!--end::Action-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Authentication - Error 404-->
      </div>
    </body>
  </body>
</html>