<!DOCTYPE html>
<html>
<head>
    <title>Admin web đặt vé phim</title>
    <script src="/public/js/yesOrNo_Admin.js"></script>
    <script src="/public/js/jquery/jquery-3.4.1.min.js"></script>
    <script src="/public/js/jquery/adminjq.js"></script>
    <link href="/public/css/admin/adminhome.css" rel="stylesheet" />
    <link href="/public/css/admin/tableAdmin.css" rel="stylesheet" />
    <link href="/public/css/admin/all.css" rel="stylesheet"/>
    <link href="/public/css/admin/w3.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="header_admin">
        <ul>
            <li><a href="/admin" id="logo">VNCinema</a></li>
            <li><a href="/admin/update/cinema/">Cập nhật lại thông tin của rạp</a></li>
            <li><a href="/admin/update/user/">Cập nhật lại thông tin của user</a></li>
            <li><a href="/admin/update/film/">Cập nhật lại thông tin của phim</a></li>
            <li><a href="/admin/update/cineplex">Cật nhật lại thông tin cụp rạp</a></li>
            <li style="float: right"><a href="/admin/logout/" id="logout">
                Đăng xuất   
            </a></li>
        </ul>
    </div>
    <div id="content_admin">
    <% if(typeof thuocTinhFilm !== 'undefined' && typeof thuocTinhCumRap !== 'undefined') { %>
        <% include admin/BangDoanhThu.ejs %>
    <% } %>
    <% if(typeof cinema !== 'undefined') { %>
        <% include admin/cinema.ejs %>
    <% } %>
    <% if(typeof cinemaID !== 'undefined') { %>
        <% include admin/update/updatecinema.ejs %>
    <% } %>
    <% if(typeof userAll !== 'undefined') { %>
        <% include admin/userAll.ejs %>
    <% } %>
    <% if(typeof userID !== 'undefined') { %>
        <% include admin/update/updateuser.ejs %>
    <% } %>
    <% if(typeof filmAll !== 'undefined') { %>
        <% include admin/filmAll.ejs %>
    <% } %>
    <% if(typeof filmID !== 'undefined') { %>
        <% include admin/update/updatefilm.ejs %>
    <% } %>
    <% if(typeof cineplex !== 'undefined') { %>
        <% include admin/cineplex.ejs %>
    <% } %>
    <% if(typeof timeShowCinemaIDcinema !== 'undefined' ) { %>
        <% include admin/cinemaTimeShow/cinemaTimeShowCinema.ejs %>
    <% } %>
    </div>
</body>
</html>