<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xác nhận email</title>
    <link rel="stylesheet" type="text/css" href="../public/css/signUp.css">
</head>

<body>
    <div class="form-gap">
    <div class="container" id="wrap">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <form action="/forgotPassword/confirm" method="post" accept-charset="utf-8" class="form" role="form" > 
                <% if (typeof codefail !== 'undefined' ) { %>
                  <label>Mã xác nhận không đúng! </label>
                <% } %>
                <h3>Mã xác thực</h3>
                <input type="email" name="email"  class="form-control input-lg" value="<%= mail %>" readonly/>                    

                <input type="text" name="user_ConfirmEmail" id="user_ConfirmEmail" value="" class="form-control input-lg" placeholder="Nhập mã xác thực" required />                    

                <br />
                      <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Xác nhận</button>
                
               
              </form>          
            </div>
  </div>            
  </div>
  </div>    
</body>
</html>
