<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quên mật khẩu</title>
  <link rel="stylesheet" type="text/css" href="/public/css/forgotPassword.css">
</head>
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <img src="/public/image/iconForgot.png" class="center">   
                  <h2 class="text-center">Quên mật khẩu?</h2>
                  <p>Bạn có thể thiết lập lại mật khẩu ở đây.</p>
                  <div class="panel-body">
    
                    <form action="/forgotPassword"id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon radius"><i class="glyphicon glyphicon-envelope color-blue radius"></i></span>
                          <input id="email" name="email" placeholder="email" class="form-control radius"  type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Đặt lại mật khẩu" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                      <div>
                        <% if ( typeof UserSaiMail !== 'undefined' ) { %>
                            <label>Tài khoản không tồn tại</label><br/>
                        <% }
                        if ( typeof error !== 'undefined' ) { %>
                          <label><%=error%></label><br/>
                      <% } %>
                      </div>	
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</body>
</html>