<!DOCTYPE html>
<html>

<head>
    <title>Một Chút Phim</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>

        <!--Header top-->
        <% if (currentUser) { %>
            <% include partials/header/logged %>
                <% } else { %>
                    <% include partials/header/noLogin %>
                        <% } %>

                            <!--Menu header-->
                            <% include partials/header/menu %>

                                <!--Sile header-->
                                <!-- Render ra trang /phim, nhưng không show slide -->
                                <% if(typeof hideSlideHeader=='undefined' ) {%>
                                    <% include partials/slide_header %>
                                        <% }%>


    </header>

    <main>

        <% if (typeof support !=='undefined' ) { %>
            <!-- HỖ TRỢ-->
            <% include content/support %>
                <% }if (typeof intro !=='undefined' ) { %>
                    <!-- GIỚi THIỆU -->
                    <% include content/intro %>
                        <% } if (typeof film !=='undefined' ){ %>
                            <!-- SHOW FILM -->
                            <% include content/showFilms %>
                                <% } if (typeof filmID !=='undefined' ) { %>
                                    <% include content/filmID %>
                                        <% } if (typeof searchNameFilm !=='undefined' ) { %>
                                            <% include content/searchNameFilm %>
                                                <% } if (typeof filmChieu !=='undefined' ) { %>
                                                    <% include content/showFilms %>
                                                        <% } %>

    </main>

    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>