<form action="/admin/create/film/" method="POST" enctype="multipart/form-data">
    <label>Ảnh film: </label>
    <input type="file" id="film_Image" name="filmImage" required />

    <button type="submit" value="Thêm vào danh sách phim">
        THÊM
    </button>
    </div>
</form>