<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng ký</title>
    <link rel="stylesheet" type="text/css" href="public/css/signUp.css">
    <script src="/public/js/check_signup.js"></script>
</head>

<body>
    <div class="form-gap"></div>
    <div class="container" id="wrap">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <form action="" method="post" accept-charset="utf-8" class="form signUp" role="form" onsubmit="return CheckSubmit()" >
                  <img src="/public/image/iconSignup.png" class="center">   
                <h3>ĐĂNG KÝ</h3>
                <input type="email" name="user_Email" id="user_Email" value="" class="form-control input-lg form-label-group" placeholder="Email" required />
                <input type="text" name="user_Name" id="user_Name" value="" class="form-control input-lg " placeholder="Họ tên" required />
                <input type="text" name="user_NumberPhone" id="user_NumberPhone" value="" class="form-control input-lg" placeholder="Số điện thoại" required />
              
                <input type="password" name="user_Password" id="user_Password" value="" class="form-control input-lg" placeholder="Mật khẩu" required />
                <input type="password" name="user_ConfirmPassword" id="user_ConfirmPassword" value="" class="form-control input-lg" placeholder="Nhập lại mật khẩu" required />                    

                <% if (typeof User !== 'undefined' ) { %>
                    <p> Tài khoản đã tồn tài, nếu quên mật khẩu vui lòng bấm link Quên mất khẩu ở trang Đăng Nhập </p>
                <% } %>
                <% if (typeof NumberPhone !== 'undefined') { %>
                  <p> Số điện thoại này đã được đăng ký, nếu quên mật khẩu vui lòng bấm link Quên mất khẩu ở trang Đăng Nhập</p>
                <% } %>                 
                <br />
                <span class="help-block">Bằng cách nhấp vào Tạo tài khoản, bạn đồng ý với Điều khoản và Chính sách sử dụng dữ liệu của chúng tôi, bao gồm cả việc sử dụng cookie.</span>
                      <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Tạo tài khoản</button>
              </form>          
            </div>


  </div>            
  </div>
  </div>    
</body>
</html>
