/* ============================================ *
 * Regular
 * ============================================ */

.booking-progress {
    width: 100%;
    border: 2px solid #d4d3c9;
    background-color: #F2F0E4;
    display: block;
}

.booking-progress .main-content {
    white-space: nowrap;
}

.col-main {
    margin-top: 0px;
    text-align: center;
    padding: 5px;
    background: #231d1c;
    width: 100%;
}

.col-main {
    text-transform: uppercase;
    line-height: 32px;
    padding: 0;
    margin: 0;
}


/* ============================================ *
 * Main content
 * ============================================ */

.main-content {
    overflow: hidden;
}

.progress {
    width: 100%;
    position: relative;
    height: 580px;
}

.progress>li {
    width: 100%;
}

.main-content .top-content {
    text-align: center;
    width: 100%;
    background: #bcbdc0;
    font-size: 16px;
    line-height: 32px;
    border-top: 2px solid #d4d3c9;
    border-bottom: 2px solid #d4d3c9;
}

.ticketbox {
    overflow-x: auto;
    text-align: center;
    font-weight: bold;
}

.row {
    margin: 10px;
    margin-left: 10px;
    font-size: 0;
    line-height: 18px;
}

.seat {
    display: inline-block;
    border: 1px solid transparent;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    font-size: 7pt;
    /* margin: 0 1px; */
    margin-left: 10px;
    padding: 1px 0;
}

.seat.active {
    cursor: pointer;
}

.seat.seat-disable {
    background: #bbb;
    border: 1px solid #bbb;
    color: #fff;
}

.seat-standard {
    border: 1px solid #01c73c;
}

.seat-vipprime {
    border: 1px solid #f71708;
}


/*.seat-gold {
    background: #C0C081;									
    color: #fff;
    border-color: #C0C081;
}
.seat-couple {
    background: #3399cc;									
    color: #fff;
    border-color: #3399cc;
}
.seat-deluxe {
    background: #840042;
    border: 1px solid #840042;
    color: #fff;
}
.seat-bed {	
    background: #D297D2;									
    color: #fff;
    border-color: #D297D2;
}
.seat-4d {
    background: #B55642;									
    color: #fff;
    border-color: #B55642;
}*/

.seat.checked {
    background: #b11500;
    color: #fff;
    border-color: #b11500;
}

.ticketbox-notice {
    overflow: hidden;
    overflow: hidden;
    text-align: center;
    margin: center;
}

.iconlist {
    display: flex;
    min-width: 30%;
    vertical-align: top;
    margin: auto;
    justify-content:space-evenly;
}

.icon:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: 0 5px 0 0;
}

.icon {
    text-align: left;
    margin: 5px 0;
}

.icon.checked:before {
    background: #b11500;
}

.icon.occupied:before {
    background: #bbb;
}

.icon.zone-standard:before {
    border: 1px solid #01c73c;
}

.icon.zone-vipprime:before {
    border: 1px solid #f71708;
}

.icon.zone-sw:before {
    background: #FF62B0;
}


/*.icon.zone-gold:before {
    background: #C0C081;
}
.icon.zone-couple:before {
    background: #3399cc;
}
.icon.zone-deluxe:before {
    background: #840042;
}
.icon.zone-bed:before {	
    background: #D297D2;
}
.icon.zone-4d:before {	
    background: #B55642;
}*/

.main-content .products-list {
    margin: 0 20px 20px 20px;
}

.main-content .products-list li.item {
    border: none;
    margin: 0;
    padding: 0;
}

.main-content .products-list li.item img {
    border: none;
}

.main-content .products-list li.item.first {
    float: left;
    width: 49%;
}

.main-content .products-list li.item.last {
    float: right;
    width: 49%;
}

.booking-step .action .button {
    width: 18px;
}

.booking-step .action .qty.button {
    color: #000;
    width: 33px;
}

.products-list .product-shop .product-primary {
    font-weight: bold;
}

.products-list .product-shop .price-box .price {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.booking-step .products-list .product-shop .desc.std {
    white-space: pre-line;
}

.booking-step .products-list .product-shop .desc {
    white-space: normal;
    width: 100%;
}

.except-selected {
    text-decoration: line-through;
}

#calculateprice {
    font-weight: bold;
}

/*button muave*/
.muave{
    border-radius: 20px;
    width: 76px;
    height: 38px;
    color: #fff; 
    background-color: #1ae000;
    border: none;
    font-weight: bold;
}
.muave:hover{
    background-color: #e28915;
    color: black;
}
/* ============================================ *
 * Main content responsive
 * ============================================ */

@media only screen and (max-width: 479px) {
    .main-content .products-list {
        margin: 0px;
    }
    .main-content .products-list li.item.first,
    .main-content .products-list li.item.last {
        clear: both;
        width: 100%;
        margin: 5px 0;
    }
}


/* ============================================ *
 * Bottom content
 * ============================================ */

.bottom-content {
    /* background-image: url(/public/image/footer_all/bg_footer_muave_1.jpg); */
    /*background-color: #000;*/
    margin-top: -15px;
    font-size: 0;
}

.format-bg-top {
    width: 100%;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-top-seatmap.png) repeat-x top left transparent;
    height: 8px;
    overflow: hidden;
}

.format-bg-bottom {
    width: 100%;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-bottom-seatmap.png) repeat-x bottom left transparent;
    height: 8px;
    overflow: hidden;
}

.minicart-wrapper {
    font-size: 0;
    color: #cccccc;
    width: 96%;
    display: inline-block;
    margin: 0 3px;
    text-align: left;
}

.minicart-wrapper ul {
    width: 100%;
}

.minicart-wrapper ul .item.first .product-details {
    margin: 0px;
}

.minicart-wrapper img {
    width: 74px;
    height: 108px;
    display: inline-block;
}

.minicart-wrapper .product-details {
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}

.minicart-wrapper .item {
    display: inline-block;
    width: 32%;
    margin-left: 1%;
    font-size: 12px;
}

.info-wrapper {
    /* color: #cccccc; */
    color:white;
}

.info-wrapper td {
    padding: 0 5px;
    font-weight: bold;
    white-space: normal;
    vertical-align: top;
}

.info-wrapper td.label {
    font-weight: normal;
}

.info-wrapper td.name_film {
    font-size: 13px;
}

.truncated {
    float: right;
}

.truncated a.details {
    display: block;
    width: 15px;
    height: 15px;
    font-size: 0px;
    background: url(/skin/frontend/cgv/default/images/bg-cgv/icon-info-combo.png) no-repeat center center;
    float: right;
    margin-top: 3px;
    cursor: pointer;
    margin-left: 4px;
}

.item-options {
    display: none;
}

.bottom-content .truncated .truncated_full_value .item-options dt,
.bottom-content .truncated .truncated_full_value .item-options dd {
    color: #000;
}

.item-options dt:after {
    content: ' x ';
}

li[name=familypack] .product-shop,
.products-list li[name=familypack] .product-shop .price-box .price {
    color: #fff;
}

li[name=familypack] .action .button {
    background: #fff;
    color: #000;
}


/* ============================================ *
 * Bottom responsive
 * ============================================ */

@media only screen and (max-width: 479px) {
    .bottom-content .minicart-wrapper {
        float: left;
        width: 98%;
        margin: 0 1% 120px 1%;
    }
    .bottom-content .minicart-wrapper .item {
        float: left;
        width: 98%;
    }
    .bottom-content .minicart-wrapper .item img {
        width: 100%;
        height: auto;
        border: 1px solid #fff;
    }
    .bottom-content .truncated .truncated_full_value .item-options {
        padding: 0px;
    }
    .bottom-content .truncated .truncated_full_value .item-options dt,
    .bottom-content .truncated .truncated_full_value .item-options dd {
        color: #cccccc;
    }
    .btn-left,
    .btn-right {
        position: absolute;
        bottom: 20px;
    }
    .btn-left {
        left: 5px;
    }
    .btn-right {
        right: 5px;
    }
    .truncated a.details {
        display: none !important;
    }
}

@media only screen and (max-width: 770px) {
    .bottom-content .minicart-wrapper {
        float: left;
        width: 98%;
        margin: 0 1% 120px 1%;
    }
    .btn-left,
    .btn-right {
        position: absolute;
        bottom: 20px;
    }
    .btn-left {
        left: 5px;
    }
    .btn-right {
        right: 5px;
    }
}

@media only screen and (min-width: 771px) and (max-width: 800px) {
    .bottom-content .minicart-wrapper {
        float: left;
        width: 98%;
        margin: 0 1% 120px 1%;
    }
    .btn-left,
    .btn-right {
        position: absolute;
        bottom: 20px;
    }
}

@media only screen and (min-width: 479px) and (max-width: 603px) {
    .bottom-content .minicart-wrapper .item {
        width: 98%;
    }
}


.btnhome{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 2px 12px;
    font-size: 14px;
    color: #000000;
    border-radius: 20px;
}
.btnhome:hover{
    background-color: green;
    color: #000000;
}