<% if(typeof userID !== 'undefined') { %>
    <div>
        <form action="" method="POST">
            <p> Email : </p> <input type="email" name="txtUserEmail" id="txtUserEmail" value="<%= userID.dataValues.user_Email %>" required/>
            <p> Name  : </p> <input type="text" name="txtUserName" id="txtUserName" value="<%= userID.dataValues.user_Name %>" required />
            <p>Số điện thoại </p> <input type="text" name="txtUserNumberPhone" id="txtUserNumberPhone" value="<%= userID.dataValues.user_NumberPhone %>" required/>
            <input type="submit" value="cập nhật "/>
        </form> 
    </div>
<% } %>