<link rel="stylesheet" type="text/css" href="/public/css/logged.css">

<div class="header-top">
    <p>
        <a class="btn btn-info" href="/updateinfo">
            Xin chào:
            <% if(currentUser){ %>
                <%= currentUser.user_Name %>
                    <% } %>
        </a>
        <a class="btn btn-danger" href="/logout">Đăng xuất</a>
    </p>
</div>