<link rel="stylesheet" type="text/css" href="/public/css/home.css">
<div class="header-top">
<p>
    <a class="btn btn-success radius" href="/Login">Đăng nhập</a>
    <a class="btn btn-warning radius" href="/signUp">Đăng ký</a>
</p>
</div>