body{

}

#header_admin #logo {
    font-size: 20px;
    color: red;
    padding: 10px;
    margin-left: 10px;
}

#header_admin{

    border: 1px solid #908C8C;
}

#header_admin ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FBFAFA;
}

#header_admin li {
    float: left;
}

#header_admin li a{
    display: block;
    color: #908C8C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    font-size: 15px;
}

#header_admin li a:hover{
    color: #000000;
}

#logout {
    border: 1px solid #E40002;
    padding: 5px 10px;
    /* padding-top: 5px; */
    margin: 10px;
    /* margin-top: 3px; */
    background-color: #E40002;
    border-radius: 20px; 
    color:black !important;
}

#logout:hover{
color:white !important;
}

#logout a{
    font-size: 10px;
    height: 10px;
}


.btn_create{
    float: left;
    border: 1px solid #B31B1A;
    padding: 10px 20px;
    margin: 15px;
    /* margin-top: 10px; */
    background-color: #B31B1A;
    border-radius: 20px; 
    text-decoration: none;
    color:  white;
    cursor: pointer;
}

.btn_create a{
    font-size: 10px;
}

.btn_create:hover{
    color: white;
}

b {
    cursor: pointer; 
}