body{

}

#header_admin #logo {
    font-size: 20px;
    color: red;
    padding: 10px;
    margin-left: 10px;
}

#header_admin{

    border: 1px solid #908C8C;
}

#header_admin ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FBFAFA;
}

#header_admin li {
    float: left;
}

#header_admin li a{
    display: block;
    color: #908C8C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    font-size: 15px;
}

#header_admin li a:hover{
    color: #000000;
}

#logout {
    border: 1px solid #09E700;
    padding-top: 5px;
    margin: 10px;
    margin-top: 3px;
    background-color: #09E7F2;
    border-radius: 20px; 
}

#logout a{
    font-size: 10px;
    height: 10px;
}


.btn_create{
    float: right;
    border: 1px solid #09E700;
    padding: 5px;
    margin: 10px;
    margin-top: 3px;
    background-color: #09E700;
    border-radius: 20px; 
    text-decoration: none;
    color:  #09E7F2;
    cursor: pointer;
}

.btn_create a{
    font-size: 10px;
}

.btn_create:hover{
    color: white;
}

b {
    cursor: pointer; 
}