<link rel="stylesheet" type="text/css" href="/public/css/logged.css">

<div class="header-top">
    <p>
        <% if(currentUser){ %>
            <% if(currentUser.user_Name !="Admin" ){ %>
                <a class="btn btn-info" href="/user/thong-tin-ca-nhan">
                    Xin chào:<%= currentUser.user_Name %>
                </a>
                <% }else{%>
                    <a class="btn btn-info" href="/admin">
                        Xin chào:<%= currentUser.user_Name %>
                    </a>
                    <% } %>
                        <% } %>
                            <a class="btn btn-danger" href="/logout">Đăng xuất</a>
    </p>
</div>