<link rel="stylesheet" type="text/css" href="/public/css/home.css">
<div class="header-top">
    <p>
        <a class="login-btn" href="/login">Đăng nhập</a>
        <a class="register-btn" href="/signup">Đăng ký</a>
    </p>
</div>